@import "./_variables";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body,
html {
  margin: 0;
}

html {
  background-color: $main-color;
}

.container {
  width: 100%;
  min-height: 100vh;
  @import "./console";
}
