@import "./_variables";
@import "./animations.scss";

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body,
html {
  margin: 0;
  font-family: $secondary-font;
  font-size: 20px;
}
* {
  box-sizing: border-box;
}

html {
  background-color: $main-color;
}

h1,
h2,
h3 {
  font-family: $main-font;
  color: $main-color;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

strong {
  color: $console-text-color;
}

section {
  height: 100vh;
}

@import "./scenario.scss";
@import "./project.scss";
@import "./menu.scss";
@import "./tags.scss";
@import "./Button.scss";
