.character {
  position: absolute;
  bottom: 30%;
  right: 15%;
  width: 200px;
  height: 300px;
  z-index: 10;
  .desktop {
    position: absolute;
    bottom: -40px;
    left: -20px;
    z-index: 2;
  }
  .body {
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 2;
  }

  .sign {
    width: 150px;
    height: 80px;
    background-color: #9b1b1b;
    position: absolute;
    top: 180px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    text-align: center;
    color: white;
    &::after,
    &::before {
      content: "";
      background-image: url("../assets/img/hand.png");
      background-size: cover;
      width: 30px;
      height: 20px;
      position: absolute;
      top: -10px;
    }
    &::after {
      left: 20px;
    }

    &::before {
      right: 20px;
    }
  }

  .instructions {
    position: absolute;
    top: 150px;
    right: -100px;
    font-family: $secondary-font;
    width: 100px;
    z-index: 9;
    animation: bounce 2s ease 0s infinite normal forwards;
    &::after {
      content: "<";
      position: absolute;
      top: 0;
      left: -20px;
    }
  }

  .head {
    position: absolute;
    top: -20px;
    left: 0;
    animation: bounce 2s ease 0s infinite normal forwards;
    z-index: 2;
    .eyes {
      position: absolute;
      top: 95px;
      left: 55px;
      animation: bounceEyes 3s ease 0s infinite normal forwards;
    }
  }
  &::after {
    content: "";
    width: 250px;
    height: 100px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 100%;
    position: absolute;
    bottom: -50px;
    left: -20px;
    z-index: 1;
  }
  .speech-cloud {
    width: 250px;
    min-height: 50px;
    background-image: url("../assets/img/speech-cloud-back.png");
    background-position: center;
    background-size: 100% auto;
    font-family: "Orbitron", sans-serif;
    color: black;
    padding: 7px 30px;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    position: absolute;
    bottom: 300px;
    right: 100px;
    animation: cloud 3s ease 0s infinite normal forwards;
    opacity: 0;
    z-index: 2;
    &::after,
    &:before {
      content: "";
      height: 60px;
      width: 100%;
      position: absolute;
      left: 0;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:before {
      top: -50px;
      background-image: url("../assets/img/speech-cloud-before.png");
    }
    &:after {
      bottom: -60px;
      background-image: url("../assets/img/speech-cloud-after.png");
    }

    &.active {
      opacity: 1;
    }
  }
}
