.console {
  position: relative;
  width: 500px;
  height: 300px;
  z-index: 10;
  margin-top: -100px;

  @import "./intro.scss";

  .react-terminal-wrapper {
    padding: 10px;
    background-color: black;
    color: $console-text-color;
    padding-top: 50px;
    height: 100%;
    box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.5);
    .react-terminal {
      height: 100% !important;
    }
    .react-terminal-line {
      margin-top: 5px;
      white-space: initial;
      strong {
        background-color: green;
        color: black;
        padding: 0 5px;
      }
    }
  }
}
