.intro {
  margin-bottom: 20px;
  &.hidden {
    opacity: 0.5;
  }

  h1 {
    color: black;
    line-height: 100%;
    margin: 0;
    font-size: 2em;
  }
  h2 {
    line-height: 2em;
    color: white;
    line-height: 100%;
    margin: 0;
  }
}
