.intro {
  margin-bottom: 10px;
  &.hidden {
    opacity: 0.5;
  }

  h1 {
    color: $console-text-color;
    line-height: 100%;
    margin: 0;
    font-size: 1.5em;
  }
  h2 {
    line-height: 0.8em;
    font-size: 1.3em;
    color: white;
    line-height: 100%;
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .intro {
    h1 {
      font-size: 1em;
      text-align: center;
    }
    h2 {
      font-size: 1em;
      text-align: center;
    }
  }
}
