.intro {
  margin-bottom: 10px;
  &.hidden {
    opacity: 0.5;
  }

  h1 {
    color: black;
    line-height: 100%;
    margin: 0;
    font-size: 1.5em;
  }
  h2 {
    line-height: 0.8em;
    font-size: 1.3em;
    color: white;
    line-height: 100%;
    margin: 0;
  }
}
