.menu {
  position: absolute;
  top: 20px;
  right: 60px;
  font-family: $main-font;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .icon {
    width: 40px;
  }
}
